.ds-forms {
    padding: 1em;
}

* {
    font-family: Arial;
}

.ds-shopadmin-home {
    margin-top:1em;
}

.ds-shopadmin-icon-panel {
    border:#eee 1px solid;
    background:#fafafa;
    margin:0 1em 2em 1em;
    padding:.7em;
    -moz-border-radius:.5em;
    -webkit-border-radius:.5em;
    border-radius:.5em;
}


.ds-shopadmin-icon-panel h3 {

    color:#444 !important;
    margin-bottom:1.5em !important;
    margin-top:.5em !important;
}


.ds-shopadmin-icon-panel .widget-link {
    color: #333;
    background-color: #eee;
    margin:.5em;
    padding:.7em;
    border:#ddd 1px solid;
    border-radius:.5em;

    display: -moz-inline-block;
    display: inline-block;

    min-width:10em;
    text-align:center;
}


.ds-shopadmin-icon-panel .widget-link:hover {
    border:#bbb 1px solid;
    background:#ddd;
}


.ds-shopadmin-icon-panel a {

    color:#000;
}




.cab-title-center{
    margin-left: auto !important;
    margin-right: auto !important;
}

.ds-planing{
    width: 100%;
}

.ds-planing .null-cell{
    background-color: #ccc;
    background-image: repeating-linear-gradient(25deg, transparent, transparent 3px, rgba(255,255,255,.5) 3px, rgba(255,255,255,.5) 6px);
}

.ds-planing tr{
    color: #444;
    background-color: white;
}
.ds-planing tr:hover{
    color: #444;
    background-color: white;
}

.ds-planing .header{
    background-color: #ccc;
}
.ds-planing .header:hover{
    background-color: #ccc;
}

.ds-planing .header td:hover{
    color: #000;
    background-color: #ccc;
}

.ds-planing .not-free{
    background-color: #b33;
    color: white
}

.ds-planing .empty-cell
{
    background-color: #4285f4;
    color: white
}

.ds-planing .past-cell
{
    background-color: #999;
    color: white
}

.ds-planing .free{
    background-color: #558B2F;
    color: white
}

.ds-planing .title, .cab-plan-day{
    border-bottom: 1px solid #fff;
    padding: 5px;
    text-align: center;
}

.ds-planing .widget-section-content{
    padding: 0 !important;
}

.ds-planing .widget-section tr{
    background-color: transparent !important;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
}

.ds-planing .widget-section table{
    width: 100%;
}

.ds-planing .null-cell .widget-section tr{
    color: black;
    border-bottom: none;
}

html .ds-planing .widget-section.widget-foldable .widget-section-header:hover{
    background-color: transparent !important;
}

.ds-planing .widget-section h3{
    font-size: 1em;
    font-weight: normal;
    text-align:center;
}

.cab-plan-day a{
    color: white !important;
}

.ds-planing .null-cell .title{
    border-bottom: none;
}

.widget-table-row > td{
    border-bottom-color: #fff;
    border-left-color: #fff;
}

.cab-selector{
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cab-city-selector{
    padding: 3px;
    border: 1px solid #999;
    margin-left: 3px;
    background-color: #ddd;
}

.cab-city-selector:hover{
    background-color: #eee;
    border: 1px solid #aaa;
}

.cab-city-selected{
    background-color: #fff !important;
    border: 1px solid #999 !important;
}

.meeting-planing-container{
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}

.meeting-planing{
    border: 1px solid #fff;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    background-color: #388E3C;
    color: #fff !important;
    padding-right: 5px;
    padding-left: 5px;
}

.meeting-planing.cab-no-free-slot{
    background-color: #b33;
}

.meeting-planing .widget-section tr{
    background-color: transparent !important;
    border-bottom: 1px solid white;
    color: white;
    font-size: 1em;
}

html .meeting-planing .widget-section.widget-foldable .widget-section-header:hover{
    background-color: transparent !important;
}

.meeting-planing:hover{
    background-color: #43A047;
}

.meeting-planing.cab-no-free-slot:hover{
    background-color: #E64A19;
}

.day-view{
    background-color: #ddd;
}

.date-planing-day{
    text-align: center;
}

.icon-left-symbolic .icon{
    padding: 0 0 0 20px !important;
}

.cab-encombrant-site{
    font-family: cantarell, Arial;
}
.cab-encombrant-site label{
    color: #7e9e13;
}

.ds-planing > table > tbody > tr > td {
    width: 14.286%
}

.cabsprot-toolbar a {
    background: #e9e9e9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    padding: 3px;
}