
.cab-selector{
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.cab-city-selector{
	padding: 3px;
	border: 1px solid #999;
	margin-left: 3px;
	background-color: #ddd;
}

.cab-city-selector:hover{
	background-color: #eee;
	border: 1px solid #aaa;
}

.cab-city-selected{
	background-color: #fff !important;
	border: 1px solid #999 !important;
}



.cab-title-center{
	margin-left: auto !important;
	margin-right: auto !important;
}